:root {
    --ligth-lilac: #E8DAEF;
    --blue: #17202A;
    --lilac: #C39BD3;
    --white: #fff;
    --gray: ##808B96;
}

body {
    margin: 0;
    padding: 0;
    font-size: 11px;
    font-family: sans-serif;
    color: var(--blue);
    background-color: var(--ligth-lilac);
    line-height: 17px;
}

header {
    background: var(--lilac);
    height: 80px;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 20px;
    line-height: 25px;
    color: var(--gray);
}

h3 {
    font-size: 15px;
    line-height: 25px;
    color: var(--lilac);
}

p {
    text-align: justify;
}

nav {
    float: right;
    padding: 23px 7px 0 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: left;
    padding-left: 50px;
}

nav ul li a {
    font-size: 18px;
    line-height: 15px;
    color: var(--white);
    font-weight: bold;
    display: flex;
    align-items: flex-end;
}

nav ul li a:focus {
    text-decoration: none;
    color: var(--blue);
}

nav ul li a:ativo {
    text-decoration: none;
    color: var(--blue);
}

img {
    float: right;
    padding: 3px 0 0 25px;
}

footer {
    background: var(--white);
    font-size: 10px;
    padding: 15px 2px 0 0;
    color: var(--gray);
    margin: 10px;
    border-top: 1px solid var(--ligth-lilac);
    clear: both;
    height: 46px;
}

.principal {
    width: 960px;
    margin: 0 auto;
}

#logo {
    color: var(--white);
    font-size: 24px;
    font-family: sans-serif;
    padding-top: 10px;
    float: left;
}

.caixa {
    float: left;
    width: 280px;
    padding-right: 6rem;
}

.lf {
    float: left;
}

.lr {
    float: right;
}